@import "../../style/responsive.scss";
.newPostPage {
  gap: 20px;
  padding: 20px;
    height: 100%;
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Aggiunge ombreggiatura */
    overflow: auto;
    @include md{
      display: flex;
      flex-direction: column-reverse;
    }
    .formContainer {
      flex: 3;
      overflow: scroll;
  /* Nasconde la scrollbar su Chrome, Edge e Safari */
&::-webkit-scrollbar {
    display: none;
  }
  
      .wrapper {
        margin: 30px 50px 100px 0px;
  
        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;
          
          .item {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            @include sm{
              width: 100%;
            }
            label {
              font-size: 14px;
              font-weight: 600;
            }
  
            input, select {
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 4px;
              font-size: 14px;
              transition: border-color 0.3s;

              &:focus {
                border-color: #007bff;
                outline: none;
                box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
              }
            }
  
            select {
              appearance: none;
              background-color: white;
              cursor: pointer;
            }
  
            &.description {
              width: 100%;
              height: 320px;
  
              .quill > .ql-container > .ql-editor {
                height: 200px;
                font-size: 16px;

              }
            }
          }
        }
      }
    }

    .sendButton {
      border-radius: 8px;
      width: 140px;
      padding: 12px;
      border: none;
      cursor: pointer;
      background: black;
      color: white;
      font-weight: 600;
      transition: background 0.3s, transform 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
  
      &:hover {
        background: #222;
        transform: scale(1.05);
      }
    }
  
    .sideContainer {
      flex: 2;
      background-color: white;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      overflow-y:scroll;
      &::-webkit-scrollbar {
          display: none;
        }
        max-height: 100%;
        max-height: calc(100vh - 100px); // Adatta lo spazio disponibile
      img {
        width: 50%;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  