@import "../../style/responsive.scss";

.registerPage {
  display: flex;
  height: 100%;
  //background: linear-gradient(to right, #f0f4f8, #d9e2ec);

  @include sm {
    align-items: center;
  }

  .formContainer {

    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      padding: 40px;
      border-radius: 16px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 70%;
      max-width: 500px;

      @include md {
        padding: 20px;
      }

      h1 {
        margin-top: -1%;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: #222;
        text-align: center;

        @include lg {
          font-size: 42px;
        }
      }

      input {
        margin-top: -4%;
        width: 80%;
        padding: 12px;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;

        &:focus {
          outline: none;
          border-color: #6ccff6;
          box-shadow: 0 0 8px rgba(108, 207, 246, 0.5);
        }
      }

      .registrati {
        width: 80%;
        padding: 14px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        background: black;
        color: white;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #222;
          transform: scale(1.05);
        }
      }

      .loginLink {
        color: #3a99d8;
        text-align: center;
        font-size: 1rem;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          text-decoration: underline;
          color: #1e70b7;
        }
      }
    }
  }
  .oauth{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap:10%;
    .google{

      width: 80%;
      padding: 14px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background: #e04931;
      color: white;
      font-weight: 600;
      transition: all 0.3s ease-in-out;

      &:hover {
        background:#933020;
        transform: scale(1.05);
      }

    }
    .github{
      width: 80%;
      padding: 14px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background:#507cc0;
      color: white;
      font-weight: 600;
      transition: all 0.3s ease-in-out;

      &:hover {
        background:#304a73;
        transform: scale(1.05);
      }

    }
  }
  .imgContainer {
    flex: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -110px;
    margin-right: -50px;
    z-index: 300000;
    @include md {
      display: none;
    }
    img {
      flex: 2;
      width: 100%;
      max-height: 120%;
      max-width: 100%;
      top:0;
      right: 0;
      position:absolute;
      @include lg {
        width: 105%;
      }
    }
  }
  .riempimento{
    background-color: #6ccff6;;
  }
}