@import "../../style/responsive.scss";
.searchBar{
    margin-top: -20%;
    @include sm{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: stretch;
        align-content: stretch;
        margin-top: -15%;
    }
    .type{
        @include sm{
            margin-bottom: 5px;
            display: flex;
            justify-content: space-start;
        }
        button{
            font-family: "Inter", sans-serif;
            font-weight: 800;
            padding: 16px 36px;
            border: 1px solid #999;
            cursor: pointer;
            border-bottom: none;
            cursor: pointer;
            background-color: white ;
            text-transform: capitalize ;
            
            @include sm{
                border-radius: 10px;
            }
            &.active{
                background-color: black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 8px;
                border-right: none;

            }
            &:last-child{
                border-top-right-radius: 8px;
                border-left: none;
            }
        }
    }
    form{
        border-top: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;
        //gap: 5px;
        @include sm{
            flex-direction: column;
            border:none;
            gap:10%
        }

        input, .city-container{
            border:none;
            padding:0px 10px;
            width: 200px;
            @include lg{
                padding: 0px 5px;
                &:nth-child(2), &:nth-child(3){
                    width: 140px;
                }
            }
            @include md{
                width: 200px;
                &:nth-child(2), &:nth-child(3){
                    width: 200px;
                }
            }
            @include sm{
                border-radius: 10px;
                width: 70%;
                &:nth-child(2), &:nth-child(3){
                    width: 70%;
                
                }
                padding: 20px;
                border: 1px solid #999;
            }
            
        }
        input::placeholder, .city-container {
            font-family: "Inter", sans-serif;
            font-weight: 800;
        }
        .city-container {
            position: relative;
            height: 100%;
            padding: 0px 0px;
            margin-right: 10px;
            input{

                width: 100%;
                height: 100%;
            }

          }
          
          .autocomplete-list {
            position: absolute;
            top: 100%; /* Si posiziona subito sotto l'input */
            left: 0;
            width: 100%;
            background-color: white;
            border: 1px solid #ccc;
            border-top: none;
            z-index: 1000;
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: 200px;
                            overflow-y:scroll;
                &::-webkit-scrollbar {
                    display: none;
                  }
          }
          
          .autocomplete-list li {
            padding: 10px;
            cursor: pointer;
          }
          
          .autocomplete-list li:hover {
            background-color: #f0f0f0;
          }
          
        button{
            border: none;
            cursor: pointer;
            background: black;
            flex: 1;
            @include sm{
                padding: 10px;
            }
            img{
                width: 24px;
                height: 24px;
            }
            @include sm{
                border-radius: 10px;
                width: 70%;
            }
        }
    }
}