@import "../../style/responsive.scss";

.searchBar {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: -10%;

  .type {
    display: flex;
    margin-bottom: 15px;

    gap: 10px;
    button {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      padding: 12px 30px;
      border: 2px solid #ccc;
      background-color: #fff;
      cursor: pointer;
      text-transform: capitalize;
      border-radius: 12px;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: #e0e0e0;
      }

      &.active {
        background-color: black;
        color: #fff;
      }
    }
  }

  .city-container {
    position: relative;
    width: 100%;
    .cityinput {
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      margin-bottom: 10px;
      box-sizing: border-box;
      &:focus {
        border-color: #333;
      }
    }
    .autocomplete-list {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: none;
      z-index: 10;
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-height: 150px;
      overflow-y: auto;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      li {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  .price {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    select {
      width: 48%;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      background-color: #fff;
      cursor: pointer;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      appearance: none; /* Rimuove l'aspetto predefinito del browser */
      box-sizing: border-box;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      
      &:focus {
        border-color: #333;
        background-color: #f9f9f9;
      }

      option {
        padding: 10px;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .cerca {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: black;
    margin-top: 1%;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: #555;
    }
  }

  @include sm {

    .type {
      flex-direction: column;
      gap: 10px;
    }
    .city-container .cityinput {
      width: 100%;
    }
    .price input {
      width: 100%;
    }
    .cerca {
      width: 70%;
      margin: 5% auto;
    }
  }
}
